<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".yiqiFunction.ImageSearch" />
        <activity android:name=".yiqiFunction.FavouriteList" />
        <activity android:name=".yiqiFunction.SearchResult" />
        <activity android:name=".BBCNews.DetailsFragment" />
        <activity android:name=".BBCNews.EmptyActivity" />
        <activity android:name=".BBCNews.BbcNews" />
        <activity android:name=".BBCNews.FavouriteList"/>
        <activity android:name=".nasaImage.EmptyActivity" />
        <activity android:name=".nasaImage.FavouriteImages" />
        <activity android:name=".nasaImage.NasaImageOfTheDay" />
        <activity android:name=".GuardianNews.GuardianNewsPage" />
        <activity android:name=".GuardianNews.GuardianList" />
        <activity android:name=".GuardianMainActivity" />
        <activity android:name=".GuardianNews.GuardianFavoriteList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>